<form name="personForm">
  <label for="prefix_id" class="sr-only">Prefix</label>
  <select id="prefix_id" name="prefix_id" class="crm-form-select"
    select="{placeholder: '', allowClear:true}"
    ng-options="option.value as option.label for option in $ctrl.prefixes"
    ng-model="$ctrl.prefix_id">
  </select>
  <label for="first_name" class="sr-only">First</label>
  <input id="first_name" name="first_name" type="text"
    ng-model="$ctrl.first_name" class="crm-form-text"
    placeholder="First" required>
  </input>
  <label for="last_name" class="sr-only">Last</label>
  <input type="text"
    id="last_name" name="last_name"
    ng-model="$ctrl.last_name" class="crm-form-text"
    placeholder="Last" required>
  </input>
  <label for="middle_name" class="sr-only">Middle</label>
  <input type="text"
    id="middle_name" name="middle_name"
    ng-model="$ctrl.middle_name" class="crm-form-text"
    placeholder="Middle">
  </input>
  <label for="suffix_id" class="sr-only">Suffix</label>
  <select
    id="suffix_id" name="suffix_id"
    class="crm-form-select"
    select="{placeholder: '', allowClear:true}"
    ng-options="option.value as option.label for option in $ctrl.suffixes"
    ng-model="$ctrl.suffix_id">
  </select>
  <label for="personForm.birth_date" class="sr-only">Birth Date</label>
  <input type="date" id="personForm.birth_date" 
    name="birth_date" ng-model="$ctrl.birth_date">
  </input>
  <label for="personForm.gender_id" class="sr-only">Gender</label>
  <select id="personForm.gender_id"
    name="gender_id" class="crm-form-select"
    ng-options="option.value as option.label for option in $ctrl.genders"
    ng-model="$ctrl.gender_id">
  </select>
  <button ng-click="$ctrl.save()">Save</button>
</form>
<button type="button" ng-click="$ctrl.includeAddressForm = !$ctrl.includeAddressForm" >Update address information, last updated on {{$ctrl.address.lastUpdatedDate}}</button>
<address ng-if="$ctrl.includeAddressForm"></address>
<phone ng-if="$ctrl.includePhoneForm"></phone>